manifest {
    author = 'Satrio <satrio.wibowo@dto.kemkes.go.id>'
    //defaultBranch
    //recurseSubmodules
    description = 'Nextflow wrapper for NVIDIA clara parabricks'
    //doi = 
    homePage = 'https://github.com/bgsi-id'
    mainScript = 'main.nf'
    name = 'satriobio/pl-gpu'
    nextflowVersion = '>=22.10.0'
    version = '1.0.0'
}

params {
  profile = 'standard'
  fastq_suffixes = ['*_R{1,2}_001', '*_R{1,2}', '*_{1,2}' ]
  fastq_exts = ['.fastq.gz', '.fq.gz', '.fastq', '.fq']
  globPattern = makeGlobPattern( fastq_suffixes, fastq_exts )
}

profiles {
}

docker {
  enabled = true
}

def makeGlobPattern ( illumina_suffixes, fastq_exts ) {
    def fastq_path = []
    for (suffix in fastq_suffixes){
        for (ext in fastq_exts) {
            fastq_path.add(params.fastq_input.toString() + '/' + suffix.toString() + ext.toString())
        }
    }
    return fastq_path
}